* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li, ul {
  list-style: none;
}

nav {
  background: white;
  width: 100%;
  height: 6rem;
  padding: 1rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .logo img {
  height: 100%;
  cursor: pointer;
}

nav .logo h3 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #525252;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

nav ul {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  font-size: 1.5rem;
  color: #525252;
  text-transform: uppercase;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

nav ul a:hover {
  color: orange;
}

nav ul .currentpage {
  font-weight: bolder;
  color: orange;
}

nav .logo:hover > h3 {
  color: orange;
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 81px;
  }
  nav .logo {
    margin-bottom: 2rem;
  }
  nav .logo img {
    height: 4rem;
  }
  nav ul {
    width: 300px;
  }
}

main {
  width: 100%;
  height: calc( 100vh - 14rem);
  background: url(../img/cover1.jpg);
  background-size: cover;
  background-position: center bottom;
  -webkit-box-shadow: inset 9999px 0 0 0 rgba(0, 0, 0, 0.7);
          box-shadow: inset 9999px 0 0 0 rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20rem 15rem 0;
}

main h1 {
  font-size: 6rem;
  font-weight: bolder;
}

main p {
  font-size: 1.8rem;
  color: #c9c9c9;
  margin: 0 0 3rem;
}

main p::after {
  content: '';
  display: block;
  width: 20rem;
  height: .2rem;
  background: #ffa60094;
  margin: 1.2rem 0 0;
}

main a {
  text-transform: uppercase;
  background: orange;
  padding: 1rem 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 3rem;
}

@media screen and (max-width: 780px) {
  html {
    font-size: 40%;
  }
  main {
    height: calc( 100vh - 132px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main h1 {
    text-align: center;
  }
  main p::after {
    margin-top: 2.5rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.gallery h1 {
  margin: 2rem;
  font-size: clamp(3rem, 7vw, 4.5rem);
  text-transform: uppercase;
  color: orange;
  font-weight: bolder;
  text-align: center;
}

section.gallery div.galleryContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem 2rem;
  width: 100%;
  padding: 3rem 4rem 7rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

section.gallery div.galleryContent * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.gallery div.galleryContent .card {
  background: orange;
  background: #ffcd70;
  border-radius: 1.5rem;
  padding: 1.5rem;
  width: minmax(150px, 200px);
  overflow: hidden;
}

section.gallery div.galleryContent .card img {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

section.gallery div.galleryContent .card .cardText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.gallery div.galleryContent .card .cardText h3, section.gallery div.galleryContent .card .cardText p, section.gallery div.galleryContent .card .cardText a, section.gallery div.galleryContent .card .cardText h4 {
  margin: .5rem;
}

section.gallery div.galleryContent .card .cardText h3 {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bolder;
  text-transform: uppercase;
}

section.gallery div.galleryContent .card .cardText p {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: #42200a;
}

section.gallery div.galleryContent .card .cardText .cardFooter {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.gallery div.galleryContent .card .cardText .cardFooter h4 {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bolder;
  position: relative;
}

section.gallery div.galleryContent .card .cardText .cardFooter h4::before {
  content: '$';
  font-size: 75%;
}

section.gallery div.galleryContent .card .cardText .cardFooter h4::after {
  content: '.00';
  font-size: 60%;
}

section.gallery div.galleryContent .card .cardText .cardFooter a {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
  text-transform: uppercase;
  background: #42200a;
  color: #ffcd70;
  padding: 1rem 2rem;
  border-radius: 0 1.5rem 1.5rem 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

section.gallery div.galleryContent .card .cardText .cardFooter a:hover {
  -webkit-box-shadow: 0 0 0 3px #42200a;
          box-shadow: 0 0 0 3px #42200a;
  background: transparent;
  color: #42200a;
}

@media screen and (max-width: 1100px) {
  section.gallery div.galleryContent {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  section.gallery div.galleryContent {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  section.gallery div.galleryContent {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebebeb;
}

footer li h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: orange;
}

footer li a {
  font-size: 1.2rem;
  color: #ebebeb;
}
/*# sourceMappingURL=style.css.map */